<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль</title>
  <link rel="stylesheet" href="./profile.css"></link>
</head>
<body class="body">
    <main class="main">
<div class="profile-wrap">
        <form class="form">
                    <div class="profile-image">
                        <img class="profile-item-img" src="/static/images/avatar.png" alt="avatar"/>
                    </div>                    
                    <div class="profile-input-password-form">
                        <label class="profile-label">Старый пароль</label>
                        <input class="profile-input" name="oldPassword" type="password" value="{{data.profile.password}}">
                    </div>

                    <div class="profile-input-password-form">
                        <label class="profile-label">Новый пароль</label>
                        <input class="profile-input" name="newPassword" type="password" value="{{data.profile.password}}">
                    </div>

                    <div class="profile-input-password-form">
                        <label class="profile-label">Повторить пароль</label>
                        <input class="profile-input" name="newPassword" type="password" value="{{data.profile.password}}">
                    </div>
                    <div class="profile-button-form">
                        <button class="btn btn-primary btn-block profile-button-save" type="reset" onclick="location.href='/up_/profile/profile.html'">Сохранить</button>                       
                    </div>                    
        </form>   
    </div>
    </main>
    
    
</div>
</body>
</html>
