<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" href="./index.css"></link>
</head>
<body class="body">
    <nav class="main">   
         <ui class="form">
            <li class="item">
            <a href="../../pages/auth/auth.hbs">Авторизация</a>
            </li>
            <li class="item">
            <a href="../../pages/signUp/signup.hbs">Регистрация</a>
            </li>
            <li class="item">
            <a href="../../pages/chat/chat.hbs">Переход к чатам</a>                
            </li>
            <li class="item">
            <a href="../../pages/error/notFoundError.hbs">Страница не найдена 404</a>                
            </li>
            <li class="item">
            <a href="../../pages/error/serverError.hbs">Серверая ошибка 500</a>                
            </li>
            <li class="item">
            <a href="../../pages/profile/profile.hbs">Профиль</a>               
            </li>
         </ui>    
</nav>
</body>
</html>