html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.main {
  height: 100%;
}

.auth {
  width: 350px;
  height: 450px;
  background: #ffffff;
  text-align: center;
  line-height: 30px;
  border: 0px solid;
}

.auth .form {
  top: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.auth .auth-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.auth .auth-input {
  width: 280px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  border: 0px solid #fff;
}
.auth .button-create {
  margin-top: 30%;
  left: -10px;
  width: 280px;
  height: 37px;
  text-align: center;
  background: #3369f3;
  border: 0px solid #3369f3;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.auth-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #3369f3;
  text-align: center;
  margin-top: 20px;
}

.error-form {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: #1e1e1e;
}

.chat-main {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr;
}

.chat-main .chat-list {
  height: 100%;
  display: block;
  background: #fbfbfb;
}
.chat-search {
  width: 290px;
  height: 32px;
  text-align: center;
  background: #efefef;
  border-radius: 5px;
  border-color: #efefef;
  border-style: solid;
}
.form-group {
  text-align: center;
}
.link-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  text-align: right;
  color: #999999;
  margin: 10px;
}

.chat-list-ui {
  display: block;
}
.chat-item {
  display: block;
  margin-left: -36px;
  position: relative;
  padding: 0px 0px;
  border-radius: 0px;
  cursor: pointer;
  border-bottom: 1px solid #c5c1c1;
}
.chat-item:hover {
  background-color: #c5c1c1;
  border-radius: 5px;
}
.chat-item-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-left: 20px;
  line-height: 10px;
  color: #1e1e1e;
  text-align: left;
}
.chat-item-img {
  width: 47px;
  height: 47px;
  left: 10px;
  text-align: left;
  border-radius: 100px;
}
.chat-about {
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
}
.chat-item-message {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  color: #999999;
  text-align: left;
}
.chat-main .chat-container {
  padding: 5px;
  display: block;
}
.chat-container-rows {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
}
.chat-container-profile-head {
  display: block;
  border-bottom: 1px solid #c5c1c1;
}
.chat-container-profile-head-column {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto;
  text-align: center;
}
.chat-container-dialog {
  display: block;
}
.chat-container-footer {
  width: 100%;
  display: block;
  border-top: 1px solid #c5c1c1;
  text-align: center;
}
.chat-container-footer-input {
  text-align: center;
  background: #efefef;
  border-radius: 30px;
  border: 0px solid;
  width: 90%;
  height: 32px;
}
.chat-container-button {
  margin-top: 20px;
  width: 28px;
  height: 28px;
  background-color: #3369f3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
}

.signup .form {
  top: 20px;
  max-width: 800px;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.signup .signup-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 10px;
}

.signup .signup-input {
  width: 280px;
  height: 25px;
  text-align: center;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid var(--blue);
}

.signup .signup-input:focus {
  outline-width: 0;
}

.profile-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--red);
  border: none;
  background-color: var(--white);
}

.profile-button-form {
  text-align: center;
}

.profile-button-save {
  margin-top: 40px;
  width: 200px;
  height: 37px;
  text-align: center;
  background: var(--blue);
  border: 0px solid var(--blue);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: var(--white);
}
