@import "/src/stylesheets/constants.css";
html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  margin: 0px;
}

.main {
  height: 100%;
}

.signup {
  width: 350px;
  height: 450px;
  background: var(--white);
  text-align: center;
  line-height: 30px;
  border: 0px solid;
}

.signup .form {
  top: 20px;
  max-width: 800px;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.signup .signup-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 10px;
}

.signup .signup-input {
  width: 280px;
  height: 25px;
  text-align: center;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid var(--blue);
}

.signup .signup-input:focus {
  outline-width: 0;
}

.signup .button-create {
  margin-top: 30%;
  left: -10px;
  width: 280px;
  height: 37px;
  text-align: center;
  background: var(--blue);
  border: 0px solid var(--blue);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}

.signup-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--blue);
  text-align: center;
  margin-top: 20px;
}

.error-form {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
}

.error-message {
  color: var(--red);
  height: 15px;
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}

.signup .error-input {
  outline-width: 0;
  width: 280px;
  height: 25px;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--red);
}
